body{
    background: #2a0033;
    color: #fff;
    font-family:Consolas,Lucida Console,Courier New, monospace;
}
.body{
    padding-top: 10vh;
    padding-left: 7vh;
}

#header {
    background-color: #1a0022;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    padding: 0;
    margin: 0;
}
#header #header-content {
    margin: 10px;
}

nav {
	background-color: #1a0022;
}
 
nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: static;
	}
	
nav ul li {
	display:inline-block;
	background-color: #110022;
	}
 
nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
 
nav a:hover { 
	background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
 
nav ul li:hover > ul {
	display:inherit;
}

.foot {
    position:absolute; 
    bottom:0;
    background-color: #1a0022;
    width: 100vw;
}

a {
    color: #ccccff;
}
