{% extends 'base.html' %}

{% block body %}

    <h1>$whoami</h1>
    <h3>Raffi Rizzo</h2>
    <br>
    <p>My name is Raffi, however I typically have my name as 'cg-1256' (sometimes cg-1256-8345) online. I am a second year Cyber Security student at the <a href="https://warwick.ac.uk/fac/sci/wmg/study/undergraduate/cyber-security/" target="_blank">University of Warwick</a>, based in the West Midlands, who is also a part of the <a href="https://www.butl.org.uk/" target="_blank">British University Taekwondo League</a>.</p>
    <br>
    <p>As well as my studies, I have participated in the most recent <a href="https://www.ukcyber912.co.uk/" target="_blank">Cyber 9/12</a> challenge, with my team successfully getting through to the semi-finals of the in-person BT Tower track. On top of this, we won the award for the 'Most Engaged' team of all competing teams.</p>
    <br>
    <p>If you wish to contact me, please message me on Linkedin: <a href="https://www.linkedin.com/in/raf-r" target="_blank">https://www.linkedin.com/in/raf-r</a></p>

{% endblock %}