{% extends 'base.html' %}

{% block body %}

    <h1>Projects</h1>
    <p>My personal Github username is <a href="https://github.com/cg-1256" target="_blank">cg-1256</a> and my university account is <a href="https://github.com/rafri" target="_blank">rafri</a>. I will denote what account the relevent project can be found on below.</p>

    <h3>LaTeX Compiler</h3>
    <p>A BASH script that compiles a .tex and a .bib file into a pdf file and then removes all files that are created in the process to keep the folder tidy. This project can be found on my personal GitHub.</p>

    <h3>Port Scanner</h3>
    <p>A Python program that will scan all ports on a range (determined by the user) and return which projects are open. This project can be found on my personal GitHub.</p>

{%endblock%}